@charset "UTF-8";
/* CSS Document created by Christy Chatmon, Spring 2019*/

body {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.6em;
	color: #FFFFFF;
	background-color: #cfe2e2;
	padding: 0 40px;
}

/* basic text styles ----------------------------  */
p, li, td {
	letter-spacing: 0.1em;
	color: #437070;
}
ul{
	margin-left: 15px;
}
h1 {
	font-size: 22px;
	padding: 6px 0;
	font-variant: small-caps;
	letter-spacing: .5em;
	line-height: 2em;
}
h2 {
	font-size: 22px;
	padding: 6px;
	font-variant: small-caps;
	letter-spacing: 0.5em;
	background-color: #2f4f4f;
}
h3 {
	font-size: 16px;
	letter-spacing: 0.5em;
	border-bottom-width: 1px;
	border-bottom-style: inset;
	border-bottom-color: #9B9744;
	padding: 4px 0;
	font-variant: small-caps;
	font-style: italic;
}

/* link styles ---------------------------- */
a:link {
	font-weight: bold;
	color: #80b3b3;
	text-decoration: none;
}
a:visited {
	font-weight: bold;
	color: #80b3b3;
	text-decoration: none;
}
a:hover {
	color: #80b3b3;
}

/* list styles ----------------------------- */
ul li {
	list-style-image: url(images/star.png);
	margin-left: 13px;
}
ol {
	margin-left: 15px;
}

/* table styles -------------------------------------- */
table {
	border: solid #80b3b3 1px;
}
td {
	padding: 6px;
	border: solid #80b3b3 1px;
}
th {
	font-weight: bold;
	background-color: #eff5f5;
	text-align: center;
	padding: 6px;
	border: solid #70a9a9 1px;
}

/* border styles ------------------------------------ */
hr {
	border: solid #396060 1px;
}

img {
	border: solid #396060 1px;

}

iframe {
	border: solid #396060 1px;
	padding: 8px;
	margin: 8px;
}

#container {
	width: 850px;
	background-color: #A3E5CA;
}

#header {
	width: auto;
	background-color: #5EE5AD;
}

#content {
	width: 500px;
	background-color: #fff;
}

#footer {
	width: 90%;
	background-color: #9B9744;
}






















